<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">

    <title>All Images</title>
</head>
<body>
<div data-th-each="imageFile : ${imageFileList}">
    <div class="card">
        <img alt="Avatar" style="width:100%" th:src="@{/image/byId(imageId=${imageFile.getId()})}">
        <div class="container">
            <h4><b th:text="${imageFile.name}"></b></h4>
        </div>
    </div>
</div>

</body>
</html>